@import "styles/variables.scss"

html
    scroll-behavior: smooth
    box-sizing: border-box

body
    height: 100%
    width: 100%
    color: rgba($text-color, .85)

a
    color: $link-color

    &:hover
        color: $secondary-color-light

section
    padding: 6rem 1rem
    min-height: 80vh
    h2
      margin-bottom: 1rem
      font-size: 1.5rem
      color: rgba($text-color, .8)
    @include media-breakpoint-up(sm)
        min-height: auto
        padding: 10rem 1rem
        font-size: 1.1rem
        h2 
            font-size: 2rem
            margin-bottom: 1.5rem

p 
    text-align: justify
    line-height: 1.7