@import "styles/variables";

.terapie {
    background: linear-gradient(225deg, $grad-color-start, $grad-color-end),
        url("../../../assets/img/romanisko_portret_cut_SM.svg") calc(100vw - 140px) 0 no-repeat;

    h1 {
        font-family: $ff;
        font-size: 1.6rem;
        line-height: 1.7;
        font-weight: 600;
        letter-spacing: 1px;
        color: rgba($text-color, 0.9);
        margin-top: 6rem;
        margin-bottom: 1.3rem;
        animation: moveInTop 1.2s ease-out 150ms;

        @media (max-width: 360px) {
            margin-bottom: 0.5rem;
            padding: 0.1rem 0;
        }

        @include media-breakpoint-up(md) {
            margin-bottom: 1.5rem;
            font-size: 2.2rem;
        }

        @include media-breakpoint-up(lg) {
            margin-bottom: 1.5rem;
            font-size: 2.5rem;
        }
    }

    h2 {
        font-size: 1.5rem;
        color: rgba($text-color, 0.8);
        animation: moveInLeft 1.2s ease-out 200ms;
        margin-bottom: 1.5rem;

        @include media-breakpoint-up(lg) {
            font-size: 2rem;
            margin-bottom: 2rem;
        }
    }

    @include media-breakpoint-up(sm) {
        background: linear-gradient(225deg, $grad-color-start, $grad-color-end),
            url("../../../assets/img/romanisko_portret_MD.svg") calc(100vw - 200px) 0 no-repeat;
        padding: 10rem 1rem;
        font-size: 1.1rem;
    }

    @include media-breakpoint-up(md) {
        background: linear-gradient(225deg, $grad-color-start, $grad-color-end),
            url("../../../assets/img/romanisko_portret_MD.svg") calc(100vw - 300px) 0 no-repeat;
    }

    @include media-breakpoint-up(lg) {
        background: linear-gradient(225deg, $grad-color-start, $grad-color-end),
            url("../../../assets/img/romanisko_portret_MD.svg") calc(100vw - 400px) 0 no-repeat;
    }
    @include media-breakpoint-up(xl) {
        background: linear-gradient(225deg, $grad-color-start, $grad-color-end),
            url("../../../assets/img/romanisko_portret_MD.svg") calc(100vw - 530px) 0 no-repeat;
        padding: 100px 1rem;
        min-height: 100vh;
    }
}

.header {
    display: block;

    @include media-breakpoint-up(md) {
        display: inline-block;
    }
}

.list-services {
    padding-left: 0;
    list-style: none;
    animation: moveInRight 1.2s ease-out 200ms;

    &__item {
        font-size: 1.1rem;
        padding-bottom: 1rem;

        &:hover {
            text-shadow: 11px 5px 17px gray;
        }

        @include media-breakpoint-up(md) {
            font-size: 1.3rem;
        }
    }
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
        text-shadow: 0 0 0 gray;
    }

    80% {
        opacity: 0.9;
        transform: translateX(10px);
        text-shadow: -10px 0 10px gray;
    }
    100% {
        opacity: 1;
        transform: translateX(0);
        text-shadow: 0 0 0 gray;
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    80% {
        opacity: 0.9;
        transform: translateX(-10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInTop {
    0% {
        opacity: 0;
        transform: translateY(-50px);
        text-shadow: 0 0 0 gray;
    }
    80% {
        opacity: 0.8;
        transform: translateY(10px);
        text-shadow: 0 -10px 10px gray;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        text-shadow: 0 0 0 gray;
    }
}
